################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CarRentalAgency/bin/Debug
/CarRentalAgency/obj/Debug
/packages/Newtonsoft.Json.11.0.1/lib
/packages/Newtonsoft.Json.11.0.1/LICENSE.md
/packages/Newtonsoft.Json.11.0.1/Newtonsoft.Json.11.0.1.nupkg
/packages/Newtonsoft.Json.11.0.1
/CsIntro/bin/Debug
/MyClasses/obj/Debug
/MyClasses.Tests/bin/Debug
/MyClasses.Tests/obj/Debug
/packages
/MyClasses/bin/Debug
/CarRentalAgency.Tests/obj/Debug
/CarRentalAgency.Tests/bin/Debug
/CarRentalAgency.Tests/bin/Debug
